*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.eachList{
    display:  flex;
    gap: 20px;

}

.eachList p{
    font-size: 20px;
}

#todo{
    border: 2px solid black;
    padding: 10px;
    width: 500px;
    height: 400px;

}

#inputBox{
    width: 300px;
    height: 30px;
    font-size: 20px;
}

#list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin-top: 30px;
}

button{
    width: 100px;
    font-size: 20px;
}